* {
    font-family: sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;

    margin-top: 3em;
}

h1, h2, h3 {
    color: rgb(35, 70, 60);
}

nav a:hover {
    background: rgb(82, 111, 102);
}

header, main, footer {
    margin: 0 auto;
    max-width: 800px;
}

header {
    padding: 2em 0;
}

header h1 {
    font-size: 3em;
}

header span {
    font-size: 1.5em;
    color: rgb(22, 173, 130)
}

nav {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    flex-flow: row;
    justify-content: center;

    background: rgb(65, 163, 135);
}

nav a {
    padding: .5em 2em;
    text-decoration: none;
    color: #fff
}



section {
    margin: 1em 0;

    padding-top: 3em;
    min-height: 20em;
}

section > p {
    margin: 1em 0;
}

section ul {
    padding-left: 1.5em;
}

#intro {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 4em;
    padding-bottom: 30px;
    padding-top: 30px
    
}

#intro img {
    width: 200px;
    border: 1px solid rgb(26, 34, 32);
}

#projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1em;
}

#projects article {
    background: rgb(116, 164, 150);
    padding: 1em;
    margin-bottom: 10px;
}

#projects article img {
    width: 100%;
    border: 1px solid rgb(26, 34, 32);
}

#projects a{
    text-decoration: none;
}

#projects h3:hover {
    color: rgb(189, 250, 235)
}

#projects img:hover {
    border: 3px solid rgb(189, 250, 235);
}

#contactInformation a{
    text-decoration: none;
    color:rgb(26, 34, 32)
}

#contactInformation a:hover {
    color: rgb(48, 184, 150)
}

footer {
    margin-top: 2em;
    margin-bottom: 1em;
    background: rgb(65, 163, 135);
    color: #fff;
    padding: 1em 0;
    text-align: center;
}